/* GLOBAL */
body{
    font-family: "Myriad Pro";
    font-size: 1.5rem;
    color: #555;
}




.main-header{
    background-image: radial-gradient(circle, #fff 55%, #eee 100%);
    height: 400px;

}
.header-bg{
    background: url("../images/header.png") no-repeat fixed center;
    background-size: 400px;
}
.logo{
    margin-top: 15px;
    background: url("../images/logo.png") no-repeat;
}
.logo:hover{
    background: url("../images/logo2.png") no-repeat;
}
.main-text-header{
    color: #222;
    font-size: 7rem;
    letter-spacing:-3px;
}
.main-text-bg{
    background: linear-gradient(45deg, rgba(150, 150, 150, 0.5),  rgba(200, 200, 200, 0.3));
    margin: 0 -20px 0 -20px; 
    margin-top: 282px;
    height: 70px;
}
.left-bracket{
    float: left;
    font-size: 20rem;
}
.bla{
    background-color: #999;
}

.right-bracket{
    float: left;
    font-size: 20rem;
    margin-left: 10px;
}

.toolslist{
    float: left;
    margin-top: 47px;
    margin-left: 10px;
    border: 1px solid rgba(250, 150, 150, 0.2);
    padding: 15px;
    text-transform: capitalize;


}

.main-text{
    text-transform: capitalize;
    font-size: 5rem;
}

.slash{
    color: #f00; 
}

.about{
    background-color: #222222;
    height: 450px;
    
}
.about-me{
    color: #aaa;

}
.social-links{
    padding-top:30px;
    margin: 0;
}
.social-items{
    display: inline;
    border: 2px solid #aaa;
    border-radius: 100%;
    padding:10px;
}
.social-items:hover{
    color:#f00;  
    border: 2px solid #f00;
}
a{
    color: #bbb;
    text-decoration: none;
}
a:hover{
    color:#f00;
    text-decoration: none;
}
.stripe{

}
.stripe-gallery{
    background: linear-gradient(45deg, #bbb, #eee);
    
}

.stripe-contact{
    background: linear-gradient(45deg, #555, #ddd);

}
.main-text-contact{
    color:#fff;
}
.contact-bg{
    background: radial-gradient(top, #999 25%, #ccc 100%);
    height: 500px;
}
.contact-intro{
    font-size: 3rem;
}
.contact-form-fields{
    margin-top: 20px;
}
.input-group{
    margin:7px 0 7px 0;
}
.input-group-addon{
    background-color: #555;
    color: #ddd;
}
.btn-submit{
    background-color: pink;

}
.rates{
    background-color: pink;
}
.affiliate{
    background-color: #555;
    color:#ddd;

}
.copyright{
    margin-top: 100px;
}
