css/bootstrap.css
js/bootstrap.js
images/logo.png
fonts/glyphicons-halflings-regular.woff2
fonts/glyphicons-halflings-regular.woff
fonts/glyphicons-halflings-regular.ttf
fonts/glyphicons-halflings-regular.svg
fonts/glyphicons-halflings-regular.eot
